<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <h1>Movie search</h1>
  <form action="/results" method="get" class="searchbar">
    <input type="text" placeholder="I'm looking for..." name="search" class="search-input">
    <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
  </form>
  <div class="credits">Movie search uses <a href="http://www.omdbapi.com/">OMDb Api</a>. Made by <a href="https://vikariusu.github.io/">Vikariusu.</a></div>
</body>
